<!DOCTYPE html>

<html lang="en">
  <head>
    <title>View Seats</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style data-tag="default-style-sheet">
    </style>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/Booking2.css') }}" />
  </head>
  <body>
    <div>
      <div class="Info">
          <button style="width:90px;" class="info-btn">Available</button>
          <button style="background-color:#0000FF;" class="info-btn">Male</button>
          <button style="background-color:#FFC0CB;" class="info-btn">Female</button>
          <button style="background-color:#808080; width:110px;" class="info-btn">Unavailable</button>
      </div>
      <link href= "{{ url_for('static',filename='styles/Booking1.css') }}" rel="stylesheet" />
      <div class="home-container">
        <div class="home-container1">
            <form action="{{url_for('Logout')}}">
                <button type="submit" class="Logout">Logout</button>
            </form>
          <div class="home-container2">
            <div class="home-container3">
              <h1 class="home-text color">Select Seats to Proceed Further</h1>
              {% if msg == 'The maximum number of seats that can be selected is 6' %}
                <span class="max-seat">The maximum number of seats that can be selected is 6</span>
              {% endif %}
            </div>
            <div class="home-container4">
              <div class="home-container5">
                <h1 class="home-text1">Lower Deck</h1>
                <div class="home-form">
                  <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN92acG5b-6e7ItIMCckBfS9zXLMskFdIT0A&usqp=CAU"
                    alt="image"
                    class="home-image"/>
                  <form action="{{url_for('Button')}}" method="post">
                    <div class="btn1">
                        {% for i in range(1,7) %}
                            <button value={{i}} id={{i}} name="btn" {% if Book_Status[i] =='Partial' or Book_Status[i] =='Booked' %} {% if Gen_Check[i] =='Male' %} style="background-color:#0000FF;" disabled {% elif Gen_Check[i] =='Female'%} style="background-color:#FFC0CB;" disabled {% else %} style="background-color:#ff0000;" {% endif %} {% endif %} {% if Gen_Check[i]=="Reserved" and Gender=="Male" %} style="background-color:#808080;" disabled {% endif %}>{{i}}</button>
                        {% endfor %}
                    </div>
                    <div class="btn2">
                        {% for j in range(7,13) %}
                            <button value={{j}} id={{j}} name="btn" {% if Book_Status[j] =='Partial' or Book_Status[j] =='Booked' %} {% if Gen_Check[j] =='Male' %} style="background-color:#0000FF;" disabled {% elif Gen_Check[j] =='Female' %} style="background-color:#FFC0CB;" disabled {% else %} style="background-color:#ff0000;" {% endif %} {% endif %} {% if Gen_Check[j]=="Reserved" and Gender=="Male" %} style="background-color:#808080;" disabled {% endif %}>{{j}}</button>
                        {% endfor %}
                    </div>
                    <div class="btn3">
                        {% for k in range(13,19) %}
                            <button value={{k}} id={{k}} name="btn" {% if Book_Status[k] =='Partial' or Book_Status[k] =='Booked' %} {% if Gen_Check[k] =='Male' %} style="background-color:#0000FF;" disabled elif Gen_Check[k] =='Female' %} style="background-color:#FFC0CB;" disabled {% else %} style="background-color:#ff0000;" {% endif %} {% endif %} {% if Gen_Check[k]=="Reserved" and Gender=="Male" %} style="background-color:#808080;" disabled {% endif %}>{{k}}</button>
                        {% endfor %}
                    </div>
                  </form>
                </div>
              </div>
              <div class="home-container6">
                <h1 class="home-text2">Upper Deck</h1>
                <div class="home-form1">
                  <form action="{{url_for('Button')}}" method="post">
                    <div class="btn4">
                        {% for l in range(19,25) %}
                            <button value={{l}} id={{l}} name="btn" {% if Book_Status[l] =='Partial' or Book_Status[l] =='Booked' %} {% if Gen_Check[l] =='Male' %} style="background-color:#0000FF;" disabled {% elif Gen_Check[l] =='Female' %} style="background-color:#FFC0CB;" disabled {% else %} style="background-color:#ff0000;" {% endif %} {% endif %} {% if Gen_Check[l]=="Reserved" and Gender=="Male" %} style="background-color:#808080;" disabled {% endif %}>{{l-18}}</button>
                        {% endfor %}
                    </div>
                    <div class="btn2">
                        {% for m in range(25,31) %}
                            <button value={{m}} id={{m}} name="btn" {% if Book_Status[m] =='Partial' or Book_Status[m] =='Booked' %} {% if Gen_Check[m] =='Male' %} style="background-color:#0000FF;" disabled {% elif Gen_Check[m] =='Female' %} style="background-color:#FFC0CB;" disabled {% else %} style="background-color:#ff0000;" {% endif %} {% endif %} {% if Gen_Check[m]=="Reserved" and Gender=="Male" %} style="background-color:#808080;" disabled {% endif %}>{{m-18}}</button>
                        {% endfor %}
                    </div>
                    <div class="btn3">
                        {% for n in range(31,37) %}
                            <button value={{n}} id={{n}} name="btn" {% if Book_Status[n] =='Partial' or Book_Status[n] =='Booked' %} {% if Gen_Check[n] =='Male' %} style="background-color:#0000FF;" disabled {% elif Gen_Check[n] =='Female' %} style="background-color:#FFC0CB;" disabled {% else %} style="background-color:#ff0000;" {% endif %} {% endif %} {% if Gen_Check[n]=="Reserved" and Gender=="Male" %} style="background-color:#808080;" disabled {% endif %}>{{n-18}}</button>
                        {% endfor %}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <form action="{{url_for('Block')}}" method="post">
              {% if length >= 1 %}
                <button class="C-Book">Click To Proceed</button>
              {% endif %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
