<!DOCTYPE html>

<html lang="en">
  <head>
    <title>PassengerDetails</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/PD1.css') }}" />
  </head>
  <body>
    <div>
      <link href= "{{ url_for('static',filename='styles/PD2.css') }}" rel="stylesheet" />

      <div class="home-container">
        <form action="{{url_for('Logout')}}">
                <button type="submit" class="Logout">Logout</button>
        </form>
        <div class="home-container1">
          <div class="home-container2">
            <form class="home-form" action="{{url_for('Confirm')}}" method="post">
              {% if length >= 1 %}
                <h1 class="home-text">Seat No : {{check[0]}} {% if Gen_Check[reserved[0]] == 'Reserved' %} {{"Reserved For Female Passenger"}} {% endif %}</h1>
                <input
                  type="text"
                  placeholder="First PassengerName"
                  class="home-textinput input"
                  name="N1"
                  required
                />
                <input
                  type="number"
                  placeholder="First PassengerAge"
                  class="home-textinput01 input"
                  name="A1"
                  required
                />
                {% if Gen_Check[reserved[0]] == 'Reserved' %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Female">Female</option>
                  </select>
                {% else %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                {% endif %}
              {% endif %}


              {% if length >= 2 %}
                <h1 class="home-text1">Seat No : {{check[1]}}</h1>
                <input
                  type="text"
                  placeholder="Second PassengerName"
                  class="home-textinput02 input"
                  name="N2"
                  required
                />
                <input
                  type="text"
                  placeholder="Second PassengerAge"
                  class="home-textinput03 input"
                  name="A2"
                  required
                />
                {% if Gen_Check[reserved[1]] == 'Reserved' %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Female">Female</option>
                  </select>
                {% else %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                {% endif %}
              {% endif %}


              {% if length >= 3 %}
                <h1 class="home-text2">Seat No :{{check[2]}}</h1>
                <input
                  type="text"
                  placeholder="Third PassengerName"
                  class="home-textinput04 input"
                  name="N3"
                  required
                />
                <input
                  type="text"
                  placeholder="Third passengerAge"
                  class="home-textinput05 input"
                  name="A3"
                  required
                />
                {% if Gen_Check[reserved[2]] == 'Reserved' %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Female">Female</option>
                  </select>
                {% else %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                {% endif %}
              {% endif %}


              {% if length >= 4 %}
              <h1 class="home-text3">Seat No :{{check[3]}}</h1>
                <input
                  type="text"
                  placeholder="Fourth PassengerName"
                  class="home-textinput06 input"
                  name="N4"
                  required
                />
                <input
                  type="text"
                  placeholder="Fourth PassengerAge"
                  class="home-textinput07 input"
                  name="A4"
                  required
                />
                {% if Gen_Check[reserved[3]] == 'Reserved' %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Female">Female</option>
                  </select>
                {% else %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                {% endif %}
              {% endif %}


              {% if length >= 5 %}
                <h1 class="home-text4">Seat No :{{check[4]}}</h1>
                <input
                  type="text"
                  placeholder="Fifth PassengerName"
                  class="home-textinput08 input"
                  name="N5"
                  required
                />
                <input
                  type="text"
                  placeholder="Fifth PassengerAge"
                  class="home-textinput09 input"
                  name="A5"
                  required
                />
                {% if Gen_Check[reserved[4]] == 'Reserved' %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Female">Female</option>
                  </select>
                {% else %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                {% endif %}
              {% endif %}

              {% if length == 6 %}
                <h1 class="home-text5">Seat No :{{check[5]}}</h1>
                <input
                  type="text"
                  placeholder="Sixth PassengerName"
                  class="home-textinput10 input"
                  name="N6"
                  required
                />
                <input
                  type="text"
                  placeholder="Sixth PassengerAge"
                  class="home-textinput11 input"
                  name="A6"
                  required
                />
                {% if Gen_Check[reserved[5]] == 'Reserved' %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Female">Female</option>
                  </select>
                {% else %}
                  <select class="home-select" name="G1">
                    <option value="Option 1">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                {% endif %}
              {% endif %}
              <button class="home-button button">Confirm Booking</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
