<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SignUp</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Signup_style2.css') }}"/>
  </head>
  <body>
      <div class="home-container">
        <div class="home-container1">
            {% if msg == 'Entered Password and Confirm-password are not Same' or msg == 'Gender Not Selected' or msg == 'Enter Valid Mobile Number!!!' or msg == 'Password Must Contain 8 to 12 Characters, one Upper, one Lower, one Special character and one Digit' %}
              <span class="Span">{{msg}}</span>
            {% endif %}
            <link href= "{{ url_for('static',filename='styles/Signup_Style1.css') }}" rel="stylesheet"/>
            <form name="Sign-Up" class="home-form" action="{{ url_for('Signup') }}" method="post">
            <input type="text" placeholder="Name" name="user_Name" required class="home-textinput input"/>
            <input type="number" placeholder="Age" name="User_Age" required class="home-textinput1 input"/>
            <select required class="home-select" name="Gender">
              <option selected value=0>Select - Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <input type="email" placeholder="Email" name="Email" class="home-textinput2 input" required/>
            <input type="number" placeholder="MobileNumber" name="Mobile_number" required class="home-textinput3 input"/>
            <input type="password" placeholder="Password" name="Password" required class="home-textinput4 input"/>
            <input type="password" placeholder="Confirm-Password" name="C_password" required class="home-textinput5 input"/>
            <button class="home-button button">Signup</button>
            <a href="{{ url_for('login') }}"><button type="button" class="login-button">Login</button></a>
          </form>
        </div>
      </div>
  </body>
</html>
